<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Seat</title>
    <link rel="stylesheet" href="../css/choose_seat.css">
</head>
<body>
    <header class="header">
        <a href="../views/cinema_selection.html">
            <img id="back" src="../storage/img/Back.svg" alt="Back icon">
        </a>
        <h1>Choose Seat</h1>
        <div class="options">
            <img src="../storage/img/more-vertical.svg" alt="More options">
        </div>
    </header>
    <main class="main">
        <section class="screen">
            <div class="screen-curved">
                <img src="../storage/img/aroRojo.svg" alt="">
                <p>Screen This Way</p>
            </div>
        </section>

        <section class="seats-section">
            <div class="seat-row1">
                <div class="seat-label">A</div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                
            </div>

            <div class="seat-row1">
                <div class="seat-label">B</div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                
            </div>

            <div class="seat-row2">
                <div class="seat-label">C</div>
                <div class="seat reserved"></div>
                <div class="seat reserved"></div>
                <div class="seat reserved"></div>
                <div class="seat reserved"></div>
                <div class="seat selected"></div>
                <div class="seat reserved"></div>
                <div class="seat reserved"></div>
                <div class="seat reserved"></div>
                <div class="seat reserved"></div>
            </div>

            <div class="seat-row">
                <div class="seat-label">D</div>
                <div class="seat reserved"></div>
                <div class="seat reserved"></div>
                <div class="seat reserved"></div>
                <div class="seat reserved"></div>
                <div class="seat reserved"></div>
                <div class="seat reserved"></div>
                <div class="seat reserved"></div>
                <div class="seat reserved"></div>
                <div class="seat reserved"></div>
            </div>
            <div class="seat-row">
                <div class="seat-label">E</div>
                <div class="seat reserved"></div>
                <div class="seat reserved"></div>
                <div class="seat reserved"></div>
                <div class="seat reserved"></div>
                <div class="seat reserved"></div>
                <div class="seat reserved"></div>
                <div class="seat reserved"></div>
                <div class="seat reserved"></div>
                <div class="seat reserved"></div>
            </div>

            <div class="seat-row">
                <div class="seat-label">F</div>
                <div class="seat reserved"></div>
                <div class="seat reserved"></div>
                <div class="seat reserved"></div>
                <div class="seat available"></div>
                <div class="seat reserved"></div>
                <div class="seat available"></div>
                <div class="seat available"></div>
                <div class="seat reserved"></div>
                <div class="seat available"></div>
            </div>

            
        </section>

        <section class="legend">
            <div class="legend-item">
                <div class="legend-dot available"></div> Available
            </div>
            <div class="legend-item">
                <div class="legend-dot reserved"></div> Reserved
            </div>
            <div class="legend-item">
                <div class="legend-dot selected"></div> Selected
            </div>
        </section>

        <section class="date-time">
            <div class="dates">
                <div class="day selected">Frid <span>17</span></div>
                <div class="day">Sat <span>18</span></div>
                <div class="day">Sun <span>19</span></div>
                <div class="day">Mon <span>20</span></div>
                <div class="day">Tue <span>21</span></div>

            </div>
            <div class="times">
                <button class="time selected">13:00 <span>$ 5.25</span> - 3D</button>
                <button class="time">15:45 <span>$ 5.99</span> - 3D</button>
                <button class="time">18:50 <span>$ 6.50</span> - 3D</button>
                <button class="time">18:50 <span>$ 6.50</span> - 3D</button>
                
            </div>
        </section>

        <section class="purchase">
            <div class="price">Price <span>$24,99</span></div>
            <button class="buy-ticket">Buy ticket</button>
        </section>
    </main>
</body>
</html>
