<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Seat</title>
    <link rel="stylesheet" href="../css/choose_seat.css">
    <script type="module" src="../js/choose_seat.js"></script>
</head>
<body>
    <header class="header">
        <a href="/cinema_selection">
            <img id="back" src="../storage/img/Back.svg" alt="Back icon">
        </a>
        <h1>Choose Seat</h1>
        <div class="options">
            <img src="../storage/img/more-vertical.svg" alt="More options">
        </div>
    </header>
    <main class="main">
        <section class="screen">
            <div class="screen-curved">
                <img src="../storage/img/aroRojo.svg" alt="">
                <p>Screen This Way</p>
            </div>
        </section>

        <section class="seats-section">
            
        </section>

        <section class="legend">
            <div class="legend-item">
                <div class="legend-dot available"></div> Available
            </div>
            <div class="legend-item">
                <div class="legend-dot reserved"></div> Reserved
            </div>
            <div class="legend-item">
                <div class="legend-dot selected"></div> Selected
            </div>
        </section>

        <section class="date-time">
            <div class="dates">
                <div class="day selected" data-fecha="2024-09-17">Frid <span>17</span></div>
                <div class="day" data-fecha="2024-09-18">Sat <span>18</span></div>
                <div class="day" data-fecha="2024-09-19">Sun <span>19</span></div>
                <div class="day" data-fecha="2024-09-20">Mon <span>20</span></div>
                <div class="day" data-fecha="2024-09-21">Tue <span>21</span></div>
            </div>
            <div class="times">
                <button class="time" data-precio="5.25">13:00 <span>$ 5.25</span> - 3D</button>
                <button class="time" data-precio="5.99">15:45 <span>$ 5.99</span> - 3D</button>
                <button class="time" data-precio="6.50">18:50 <span>$ 6.50</span> - 3D</button>
                <button class="time" data-precio="6.50">20:00 <span>$ 6.50</span> - 3D</button>
            </div>
        </section>
        

        <section class="purchase">
            <div class="price">Price <span>$00,0</span>
            </div>
            <a href="/oder_summary">
                <button id="buy-ticket" class="buy-ticket">Buy ticket</button>
            </a>
        </section>
    </main>
</body>
</html>
