<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cinema Selection</title>
    <link rel="stylesheet" href="../css/cinema_selection.css">
    <script type="module" defer src="../js/cinema_selection.js"></script>
</head>
<body>
    <header class="header">
        <a href="/home_cine">
            <img id="back" src="../storage/img/Back.svg" alt="back icon">
        </a>
        <h1>Cinema Selection</h1>
        <div class="options">
            <img src="../storage/img/more-vertical.svg" alt="more icon">
        </div>
    </header>
    <main class="main">
        <section class="main__section">
            <article class="article__movie">
                <div class="movie__image">
                    <img src="" alt="movie image"> <!-- Imagen se actualizará dinámicamente -->
                </div>
            </article>
        </section>

        <section id="main__section__title" class="main__section">
            <article class="article__detail">
                <div class="detail__head">
                    <h1></h1> <!-- Este título se actualizará -->
                    <span></span> <!-- Este género se actualizará -->
                    <div class="product__select">
                        <button>
                            <img src="../storage/img/Polygon 1.svg" alt="play icon">
                            <span>Watch Trailer</span>
                        </button>
                    </div>
                    <p></p> <!-- Esta sinopsis se actualizará -->
                </div>
            </article>
        </section>
        
        <section class="cast">
            <h1>Cast</h1>
            <div class="actors">
                <!-- Aquí se agregarán los actores si es necesario -->
            </div>
        </section>
        
        <section class="cinema-selection">
            <h1>Cinema</h1>
            <div class="cinema">
                <div class="cinema-name">
                    Auditorio Campus
                    <span>una de las mejores peliculas de la saga Alien</span>
                </div>
                <img src="../storage/img/3D.jpg" alt="cinema logo">
            </div>           
        </section>
        
        <a href="/choose_seat">
            <div class="book-now">
                <span>Book Now</span>
            </div>
        </a>
    </main>
</body>
</html>
